.carousel{
    overflow:hidden ;
    padding-top: 2rem;
}
.inner{
    white-space: nowrap;
    transition:transform 0.3s;
    
}

.carousel-item{
    display:inline-flex;
    justify-content: center;
    /* align-items:center;
    justify-content: center;
    height:200px;
    background-color: green;
    color:#fff; */
}
.indicators{
    display:flex;
    justify-content:center;
}
.indicators > button {
    margin:5px;
}